@import url("../common.css");

.title {
  font-family: decosFont;
  text-align: center;
  font-size: 8vh;
  margin-bottom: 4vh;
  width: 85%;
}

.ratings_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.rating_wrapper{
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;

  width: 20%;
}

.star{
  font-size: 10vw;
  margin: 3%;
}

.rating_text{
  font-family: decosFont;
  text-align: center;
  font-size: 4vw;
}
